:root {
  --backgroundColor: #070815;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.05);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-light: #EBEBEB;
  --PosterShare-shadeFrames: #E0E0E0;
  --PosterShare-darkFrames: #FFFFFF;
  --PosterShare-posterColor: #263238;
  --PosterShare-logoColor: #070815;
}

.theme-light {
  --backgroundColor: #f0efeb;
  --textColor: #2c2929;
  --textSecondary: rgba(44, 41, 41, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(44, 41, 41, 0.1);
  --glassBackground: rgba(44, 41, 41, 0.06);
  --shadowColor: rgba(44, 41, 41, 0.1);

  --PosterShare-light: #2632386c;
  --PosterShare-shadeFrames: #a0a0a0;
  --PosterShare-darkFrames: #2c2929;
  --PosterShare-posterColor: #2c2929;
  --PosterShare-logoColor: #f0efeb;
}

.theme-dark {
  --backgroundColor: #04030b;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.01);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-logoColor: #04030b;
}

.theme-rose {
  --backgroundColor: #171525;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.01);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-logoColor: #171525;
}

.theme-fy {
  --backgroundColor: #0d0c0f;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.01);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-logoColor: #0d0c0f;
}

.theme-carmesin {
  --backgroundColor: #2a1825;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.01);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-logoColor: #2a1825;
}

.theme-brown {
  --backgroundColor: #18110b;
  --textColor: #ffffff;
  --textSecondary: rgba(255, 255, 255, 0.7);
  --PosterfyGreen: #01b755;
  --borderColor: rgba(255, 255, 255, 0.1);
  --glassBackground: rgba(255, 255, 255, 0.01);
  --shadowColor: rgba(0, 0, 0, 0.3);

  --PosterShare-logoColor: #18110b;
}

*{
  font-family: montserrat, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--textColor);
  transition: color 0.5s, background-color 0.5s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

#root{
  width: 100%;
}