:root {
  --backgroundColor: #070815;
  --PosterfyGreen: #01b755;
}

.theme-dark {
  --backgroundColor: #04030b;
}


.theme-rose {
  --backgroundColor: #171525;
}

.theme-fy {
  --backgroundColor: #0d0c0f;
}

.theme-carmesin {
  --backgroundColor: #2a1825;
}

.theme-brown {
  --backgroundColor: #18110b;
}

*{
  font-family: montserrat, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  transition: color 0.5s, background-color 0.5s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

#root{
  width: 100%;
}